﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "GamePageMaster.cshtml";
}

<div class="container subpage">
	<div class="row">
		<div class="col-12">
		    @{
		        var parent = Model.Content.Ancestor(Model.Content.Level - 1);
		    }
			<h1 class="mt-4">@Model.Content.Name <a class="back-to" href="@parent.Url()">Back to @parent.Name</a></h1>

			<hr/>
			
			@if(!Model.Content.IsNull("banner")){
			<div class="main-image">
            	<img style="" id="main_img" class="img-fluid" src="@(Model.Content.GetPropertyValue<IPublishedContent>("banner").Url())" alt="Main image" />
            </div>
            
            <hr />
            }
            
            @Model.Content.GetPropertyValue("mainText")
            
        </div>
    </div>
</div>