﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "GamePageMaster.cshtml";
}


<div class="container">
	<div class="row">
		<div class="col-xs-12">
		    @{
		        var parent = Model.Content.Ancestor(Model.Content.Level - 1);
		    }
			<h1 class="mt-4">@Model.Content.Name <a class="back-to" href="@parent.Url()">Back to @parent.Name</a></h1>

			<hr/>

            @{ var gal = Model.Content.Children().Where(x => x.DocumentTypeAlias == "gallery").FirstOrDefault(); }
            @if(gal != null){
			    @Html.Partial("GAMING/gallery", gal)
			}

			<hr/>
			
			<p class="lead">by Milkman Matty</p>

			<hr />

			<div class="row">
			    <div class="col">
			        <p>
        			    Created on: @Model.Content.CreateDate<br/>
        			    Last updated: @Model.Content.UpdateDate
        			</p>  
			    </div>
			    <div class="col text-right">
			        @if(!Model.Content.IsNull("download")){
			        <a href="@(Model.Content.GetPropertyValue<IPublishedContent>("download").Url())" class="btn btn-download" type="button">
                        Download
                    </a>
                    } else if (!String.IsNullOrEmpty(Model.Content.GetPropertyValue<string>("downloadFilepath"))){
					<a href="/download/@Model.Content.GetPropertyValue("downloadFilepath")" class="btn btn-download" type="button">
						Download
					</a>
					}
			    </div>
			</div>
			
			<hr />
			
			@if(Model.Content.Children().Where(x => x.DocumentTypeAlias == "downloadSubpage").Any()){
			
			@Html.Raw("</div>")
			@Html.Raw("<div class=\"col-9\">")
			    @Model.Content.GetPropertyValue("mainText")
			    <hr />
			@Html.Raw("</div>")
			@Html.Raw("<div class=\"col-3\">")
		    <div class="side-nav-links">
                <h3>More Details:</h3>
		        @foreach(var child in Model.Content.Children().Where(x => x.DocumentTypeAlias == "downloadSubpage")){
		            <a href="@child.Url()">@child.Name</a>
		        }
		    </div>
			@Html.Raw("</div>")
			
			} else {

            @Model.Content.GetPropertyValue("mainText")
            
            <hr />
            
            }
     
            @if(!String.IsNullOrEmpty(Model.Content.GetPropertyValue<string>("changelog"))){
            <h3>Changelog</h3>
            <p>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#changelog" aria-expanded="false">
                    View Changelog
                </button>
            </p>
            <div class="collapse" id="changelog">
                <div class="card card-block outside_container">
                    @Model.Content.GetPropertyValue("changelog")
                </div>
            </div>
            }

		</div>
	</div>
</div>


@section headScripts {
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
}
@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
}