﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "GamePageMaster.cshtml";
}

<div class="ecowiki">
	<div class="row">
		<div class="col-12">
		    @{
		        var parent = Model.Content.Ancestor(Model.Content.Level - 1);
		    }
			<h1 class="mt-4">@Model.Content.Name <a class="back-to" href="@parent.Url()">Back to @parent.Name</a></h1>

			<hr/>
            
            <div class="row">
                <div class="col-xs-12 col-md-3 order-md-2">
                    <table>
                        @if(!Model.Content.IsNull("icon")){
    					<tr>
    						<td colspan="2" class="img">
    						    <img src="@(Model.Content.GetPropertyValue<IPublishedContent>("icon").Url())" alt="@Model.Content.Name" width="70" height="70"/>
    						    @if(!Model.Content.IsNull("secIcon")){<img src="@(Model.Content.GetPropertyValue<IPublishedContent>("secIcon").Url())" alt="@Model.Content.Name" width="70" height="70"/>}
    						    @if(!Model.Content.IsNull("terIcon")){<img src="@(Model.Content.GetPropertyValue<IPublishedContent>("terIcon").Url())" alt="@Model.Content.Name" width="70" height="70"/>}
    						</td>
    					</tr>
    					}
    					<tr>
    						<th colspan="2">@Model.Content.Name<br />Starting Stats</th>
    					</tr>
    					<tr>
    						<td>Hitpoints</td>
    						<td class="stat">@Model.Content.GetPropertyValue("hitpoints")</td>
    					</tr>
    					<tr>
    						<td>Hack/Pierce/Crush<br />Attack</td>
    						<td class="stat">@Model.Content.GetPropertyValue("damage")</td>
    					</tr>
    					@if(Model.Content.IsNull("Speed") || 
    					    Model.Content.GetPropertyValue("range") == "0" ||
    					    Model.Content.GetPropertyValue("range") == "-"
    					){
    					<tr>
    						<td>Range</td>
    						<td class="stat">@Model.Content.GetPropertyValue("range")</td>
    					</tr>
    					} else {
    					<tr>
    						<td>Speed</td>
    						<td class="stat">@Model.Content.GetPropertyValue("speed")</td>
    					</tr>
    					}
    					<tr>
    						<td>Armour Hack</td>
    						<td class="stat">@Model.Content.GetPropertyValue("armourHack")</td>
    					</tr>
    					<tr>
    						<td>Armour Pierce</td>
    						<td class="stat">@Model.Content.GetPropertyValue("armourPierce")</td>
    					</tr>
    					<tr>
    						<td>Cost</td>
    						<td class="stat">@Model.Content.GetPropertyValue("cost")</td>
    					</tr>
    					<tr>
    						<td>Upgrade Increment</td>
    						<td class="stat">@Model.Content.GetPropertyValue("upgradeIncrement")</td>
    					</tr>
    					<tr>
    						<td>Recommended Level</td>
    						<td class="stat">@Model.Content.GetPropertyValue("recLevel")</td>
    					</tr>
    					<tr>
    						<td>Built From</td>
    						<td class="stat">@Model.Content.GetPropertyValue("builtFrom")</td>
    					</tr>
    				</table>
                </div>
                <div class="col-xs-12 col-md-9 order-md-1">
                    <h2>Overview</h2>
                    @Model.Content.GetPropertyValue("overview")
                    
                    <hr />
                    
                    <h2>Usage &amp; Tactics</h2>
                    @Model.Content.GetPropertyValue("usageAndTactics")
                </div>
                <div class="col-12 order-12">
                    
                    <hr />
                    
                    <h2>Abilities</h2>
                    @Model.Content.GetPropertyValue("abilities")
                    
                    @if(!String.IsNullOrEmpty(Model.Content.GetPropertyValue<string>("Towers"))){
                    <hr />
                    
                    <h2>Towers</h2>
                    @Model.Content.GetPropertyValue("Towers")
                    }
                    <hr />
                    
                    <h2>Upgrading</h2>
                    @Model.Content.GetPropertyValue("upgrading")
                    
                    <hr />
                    
                    <h2>Quota Levels</h2>
                    @Model.Content.GetPropertyValue("quotaLevels")
                    
                    <h2>Recommended Level Stats</h2>
                    @Model.Content.GetPropertyValue("recLevelStats")
                    
                    <hr />
                    
                </div>
            </div>
            
            
        </div>
    </div>
</div>