﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "GamePageMaster.cshtml";
}

<div class="row spacer">
@{ var chids = Model.Content.Children(); }
@foreach (var child in chids){
	<div class="col-lg-6 game-item">
		<div class="card h-100">
			<div class="top-card">
				<a href="@child.Url()">
					<img class="card-img-top" src="@(child.GetPropertyValue<IPublishedContent>("homeImage").Url())" alt="@child.Name">
				</a>
			</div>
			<div class="card-body">
				<h4 class="card-title">
					<a href="@child.Url()">@child.Name</a>
				</h4>
				<p class="card-text">@child.GetPropertyValue("homepageDescription")</p>
			</div>
		</div>
	</div>
}
</div>