﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "GamePageMasterReact.cshtml";
}
@section headScripts {
	<link href="/css/gaming/hw2_style.css" rel="stylesheet">
}
<div id="start" class="container"></div>
<script src="/js/halowars.bundle.js"></script>
<script>
	document.querySelector("html").setAttribute("style","background-image: url(/images/HW2"+Math.floor((Math.random() * 4) + 1)+".jpg)");
</script>