﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "GamePageMaster.cshtml";
}

<div class="row my-4">
	<div class="col-lg-8">
		<img class="img-fluid rounded" src="@(Model.Content.GetPropertyValue<IPublishedContent>("mainImage").Url())" alt="@Model.Content.Name" />
	</div>
	<div class="col-lg-4">
		<h1>@Model.Content.GetPropertyValue("mainHeading")</h1>
		@Model.Content.GetPropertyValue("mainBlurb")
	</div>
</div>

<div class="card text-white bg-secondary my-4 text-center">
	<div class="card-body">
		<p class="text-white m-0">@Model.Content.GetPropertyValue("callToAction")</p>
	</div>
</div>

<div class="row">
    @foreach(var child in Model.Content.Children()){
	<div class="col-md-4 mb-4">
		<div class="card h-100">
			<div class="card-body">
				<h2 class="card-title">@child.GetPropertyValue("cardHeading")</h2>
				@child.GetPropertyValue("cardText")
			</div>
			<div class="card-footer">
				<a href="@child.Url()" class="btn btn-primary">@child.GetPropertyValue("linkText")</a>
			</div>
		</div>
	</div>
	}
</div>