﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	@Html.Partial("GAMING/global/head")

	@RenderSection("headScripts", false)
</head>

<body>
	@Html.Partial("GAMING/global/nav")


	@RenderBody()


	@RenderSection("scripts", false)

</body>
</html>