﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "GamePageMaster.cshtml";
	var children = Model.Content.Children();
}

<div class="container">
	<div class="row">
		<div class="col-md-8">

			<h1 class="my-4">@Model.Content.GetPropertyValue("heading")</h1>

			@foreach(var child in children){
			if(child.DocumentTypeAlias == "downloadItem"){
			<div class="card mb-4">
				<a href="@child.Url()">
					<img class="card-img-top" src="@(child.GetPropertyValue<IPublishedContent>("featImage").Url())" alt="@child.Name" />
				</a>
				<div class="card-body">
					<h2 class="card-title">@child.Name</h2>
					@child.GetPropertyValue("shortText")
					<a href="@child.Url()" class="btn btn-primary">Read More &rarr;</a>
				</div>
				<div class="card-footer text-muted">
					Created on @child.CreateDate<br />
					Last Updated on @child.UpdateDate
				</div> 
			</div>
			} else if(child.DocumentTypeAlias == "link"){
			<div class="card mb-4">
				<div class="card-body">
					<h2 class="card-title">@child.Name</h2>
					@child.GetPropertyValue("parentBlurb")
					<a href="@child.GetPropertyValue("link_url")" class="btn btn-primary">View &rarr;</a>
				</div>
				<div class="card-footer text-muted">
					Created on @child.CreateDate<br />
					Last Updated on @child.UpdateDate
				</div> 
			</div>
			}
			}
		</div>
				
		<div class="col-md-4">
			<div class="card my-4">
				<h5 class="card-header">Search</h5>
				<div class="card-body">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search for..." />
						<span class="input-group-btn">
							<button class="btn btn-secondary" type="button">Go!</button>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
