﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
	var images = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("images");
	int counter = 0;
}


<div class="main-image">
@foreach(var image in images){
	<img style="" id="main_img" class="img-fluid" src="@image.Url()" alt="Main image" />
break;
}
</div>
@if(images.Count() > 1){
<div class="nav-images">
	@foreach(var image in images){<img style="width: calc(100% / @images.Count() @if(counter!=images.Count()-1){@Html.Raw("- 10px")});" class="click_img" src="@image.Url()" alt="image @counter" />counter++;}
</div>

<script>
$(document).ready(function(){
    $('.click_img').click(function(){
        $(".click_img.active").removeClass("active");
        $('#main_img').attr("src", $(this).attr("src"));
        $(this).addClass("active");
    })
});
</script>
}