﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	var u = Model.Content;
	var codepen = u.HasProperty("codepenURL") ? u.GetPropertyValue<string>("codepenURL") : Umbraco.TypedContent(1598).GetPropertyValue<string>("codepenURL");
	var bitBucket = u.HasProperty("bitBucketURL") ? u.GetPropertyValue<string>("bitBucketURL") : Umbraco.TypedContent(1598).GetPropertyValue<string>("bitBucketURL");
	var linkedIn = u.HasProperty("linkedInURL") ? u.GetPropertyValue<string>("linkedInURL") : Umbraco.TypedContent(1598).GetPropertyValue<string>("linkedInURL");
}
<footer>
	<div class="links">
		<a href="@codepen">
			<i class="fa fa-codepen"></i>
			<span class="sr-only">View my CodePen</span>
		</a>
		<a href="@bitBucket">
			<i class="fa fa-bitbucket"></i>
			<span class="sr-only">View my BitBucket</span>
		</a>
		<a href="@linkedIn)">
			<i class="fa fa-linkedin"></i>
			<span class="sr-only">View my Linked In</span>
		</a>
	</div>
	<div class="email">
		<a href="mailto:matt@milkmanmatty.com.au">matt@milkmanmatty.com.au</a>
	</div>
</footer>