﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<a id="skip" class="sr-only sr-only-focusable" href="#">Skip to content</a>
<header>
	<a href="/" class="brand">
		<canvas id="icon" width="50" height="50"></canvas>
		<span>Milkman&nbsp;Matty</span>
	</a>
	<nav>
		<input type="checkbox" id="drop" />
		<label class="hamburger" for="drop" tabindex="0" aria-expanded="false" aria-controls="nav-menu">
			<span class="sr-only">Press enter to toggle navigation menu</span>
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>
		</label>
		<div class="menu" id="nav-menu">
			<ul>
			@if(Model.Content.Id != 1598){
				<li><a href="@Umbraco.TypedContent(1598).Url">Home</a></li>
			}
			@foreach(var c in Umbraco.TypedContent(1598).Children()){
				<li><a href="@c.Url">@c.Name</a></li>
			}
			</ul>
		</div>
	</nav>
</header>