﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<footer class="py-5 bg-dark">
	<div class="container">
		<p class="m-0 text-center text-white">Copyright &copy; Milkman Matty @DateTime.Now.Year</p>
	</div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.js"
		integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="
		crossorigin="anonymous"></script>
<script src="~/js/transition.js"></script>
<script src="~/js/collapse.js"></script>