﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<meta http-equiv="Cache-control" content="public, max-age=2592000">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="@Umbraco.Field("pageDescription")">
<meta name="author" content="Milkman Matty">
<title>Milkman Gaming - @if(Model.Content.IsNull("pageTitle")){@Model.Content.Name}else{@Umbraco.Field("pageTitle")}</title>

<!-- Open Graph Data for Facebook -->
<meta property="og:type" content="website" />	
<meta property="og:image" content="/gaming/images/OG-IMAGE.jpg" />
<meta property="og:image:url" content="/gaming/images/OG-IMAGE.jpg" />	
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />	
<meta property="og:title" content="@Umbraco.Field("pageTitle")" />
<meta property="og:url" content="@Model.Content.Url()" />
<meta property="og:site_name" content="Milkman Matty Gaming" />
<meta property="og:description" content="@Umbraco.Field("pageDescription")" />

<link rel="icon" href="/gaming/images/favicon.png" type="image/png" />
@*<link rel="shortcut icon" href="/favicon.ico" />*@
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<link href="/css/gaming/font-awesome.min.css" rel="stylesheet">
<link href="/css/gaming/bootstrap.css" rel="stylesheet">
<link href="/css/gaming/game.css" rel="stylesheet">

<script type="application/ld+json">
{
"@@context": "http://schema.org",
"@@type": "LocalBusiness",
"url": "http://www.milkmanmatty.com/gaming",
"hasMap":
"https://www.google.com.au/maps/place/Brisbane+QLD/@@-27.4690143,153.0210243,15.75z/data=!4m5!3m4!1s0x6b91579aac93d233:0x402a35af3deaf40!8m2!3d-27.469773!4d153.0251205",
"email": "matt@@milkmanmatty.com",
"address": {},
"description": "Milkman Matty, ready for action.",
"name": "Milkman Matty",
"telephone": "",
"openingHours": "24/7",
"geo": {
"@@type": "GeoCoordinates",
"latitude": "27.4690143",
"longitude": "153.0210243"
},
"sameAs" : []
}</script>