﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web

@{ var selection = Umbraco.TypedContent(1117).Children.Where(x => x.IsVisible()).ToArray(); }

@if (selection.Length > 0)
{
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" role="navigation">
	<div class="container">
	    <a href="http://milkmanmatty.com/gaming" class="navbar-brand">Milkman Gaming</a>
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
	    <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                @foreach (var item in selection)
                {
                    <li class="nav-item @(item.IsAncestorOrSelf(Model.Content) ? "active" : null)">
                        <a href="@item.Url" class="nav-link">
                            @item.Name
                            @if(item.IsAncestorOrSelf(Model.Content)){ <span class="sr-only">(current)</span> }
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
} else {
<!-- No children -->
}