﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<!DOCTYPE html>
<html lang="en" class="page">
<head>
	<meta http-equiv="Cache-control" content="public, max-age=2592000">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="@Umbraco.Field("pageDescription")">
	<meta name="author" content="Milkman Matty">
	@RenderSection("title",false)

	<!-- Open Graph Data for Facebook -->
	<meta property="og:type" content="website" />
	<meta property="og:image" content="/OG-IMAGE.jpg" />
	<meta property="og:image:url" content="/OG-IMAGE.jpg" />
	<meta property="og:image:type" content="image/jpeg" />
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="630" />
	<meta property="og:title" content="Milkman Matty" />
	<meta property="og:url" content="@Model.Content.Url()" />
	<meta property="og:site_name" content="Milkman Matty" />
	<meta property="og:description" content="" />

	<link rel="icon" href="/images/favicon.png" type="image/png" />
	@*<link rel="shortcut icon" href="/favicon.ico" />*@
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<link href="/css/page.css" rel="stylesheet">
	<link href="/css/blogstyle.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css">

	@RenderSection("schema",false)

</head>
<body>
	@Html.Partial("header")

	<main id="main">
		@RenderBody()

		<section class="disqus">
			<div id="disqus_thread"></div>
		</section>

		@Html.Partial("Partials/footer")
	</main>

<script>function mediaQueriesSupported(){return (typeof window.matchMedia != "undefined" || typeof window.msMatchMedia != "undefined");}</script>
<script src="~/js/min/circle-min.js" type="text/javascript"></script>
<script src="~/js/min/highlight.min.js" type="text/javascript"></script>
<script>
	hljs.highlightAll();
	var disqus_config = function () {this.page.url = "https://milkmanmatty.com.au/blog/";this.page.identifier = "@Model.Content.UrlName";};
	(function() {var d = document, s = d.createElement('script');
	s.src = 'https://milkmanmatty.disqus.com/embed.js';
	s.setAttribute('data-timestamp', +new Date());
	(d.head || d.body).appendChild(s);
	})();
</script>
</body>
</html>