﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	var u = Model.Content;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Cache-control" content="public, max-age=2592000">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="@Umbraco.Field("pageDescription")">
	<meta name="author" content="Milkman Matty">
	<title>Milkman Matty</title>

	<!-- Open Graph Data for Facebook -->
	<meta property="og:type" content="website" />
	<meta property="og:image" content="/OG-IMAGE.jpg" />
	<meta property="og:image:url" content="/OG-IMAGE.jpg" />
	<meta property="og:image:type" content="image/jpeg" />
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="630" />
	<meta property="og:title" content="Milkman Matty" />
	<meta property="og:url" content="@Model.Content.Url()" />
	<meta property="og:site_name" content="Milkman Matty" />
	<meta property="og:description" content="" />

	<link rel="icon" href="/images/favicon.png" type="image/png" />
	@*<link rel="shortcut icon" href="/favicon.ico" />*@
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<link href="/css/home.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600,700&display=swap" rel="stylesheet">

	<script type='application/ld+json'>
	{
		"@@context": "http://schema.org/",
		"@@type": "Person",
		"email": "matt@milkmanmatty.com.au",
		"gender": {
			"@@type": "GenderType",
			"name": "Male"
		},
		"geo": {
			"@@type": "GeoCoordinates",
			"latitude": "27.4690143",
			"longitude": "153.0210243"
		},
		"givenName": "Matthew",
		"jobTitle": "Full Stack Web Developer",
		"nationality": {
			"@@type": "Country",
			"hasMap": "https://www.google.com.au/maps/place/Brisbane+QLD/@@-27.4690143,153.0210243,15.75z/data=!4m5!3m4!1s0x6b91579aac93d233:0x402a35af3deaf40!8m2!3d-27.469773!4d153.0251205",
			"mainEntityOfPage": "https://en.wikipedia.org/wiki/Australia",
			"name": "Australian"
		},
		"description": "Milkman Matty, ready for action.",
		"name": "Milkman Matty"
	}
	</script>
</head>
<body>
<div id="wrapper">
	@Html.Partial("header")

	<main id="main">
		<div id="bg">
			<div class="grad"></div>
			<div class="opac"></div>
		</div>
		<section class="top_content">
			<div class="highlighted">
				<span>@u.GetPropertyValue("highlightedContent")</span>
			</div>
			<h1>Milkman Matty</h1>
			<hr class="divider" />
			<div class="mutating_text">
				<p id="change">@(u.GetPropertyValue<string[]>("mutatingText").First())</p>
			</div>
		</section>

		@Html.Partial("footer")
	</main>
</div>

<script>
var phrases = [@foreach(var p in u.GetPropertyValue<string[]>("mutatingText")){
	if(p == u.GetPropertyValue<string[]>("mutatingText").Last()){
		@Html.Raw("'"+p+"'")
	} else {
		@Html.Raw("'"+p+"',")
	}
}];
function cycleText(){
	counter++;
	counter = counter % @(u.GetPropertyValue<string[]>("mutatingText").Length);
	setText(phrases[counter]);
}
function mediaQueriesSupported(){
	return (typeof window.matchMedia != "undefined" || typeof window.msMatchMedia != "undefined");
}
function isSmallScreen(){
	if(mediaQueriesSupported()){
		if(window.matchMedia("(max-width: 992px)").matches){
			return true;
		}
		return false;
	} else if (windowWidth() < 992){
		return true;
	}
	return false;
}
(function(){
	if (!isSmallScreen()) {
		var trio = document.createElement("script");
			trio.src = "//cdnjs.cloudflare.com/ajax/libs/three.js/r68/three.min.js";
		var bgmin = document.createElement("script");
			bgmin.src = "/js/min/bg-min.js";
		document.querySelector('body').appendChild(trio);
		var timer = setInterval( function(){
			if (window.THREE !== undefined) {
				clearInterval(timer);
				document.querySelector('body').appendChild(bgmin);
			}
		}, 200);

	}
})();
</script>
<script src="~/js/min/circle-min.js" type="text/javascript"></script>
<script src="~/js/min/mutatetext-min.js" type="text/javascript"></script>
</body>
</html>