﻿@inherits UmbracoTemplatePage
@{
	Layout = null;
	var u = Model.Content;
}
<!DOCTYPE html>
<html lang="en" class="resume page">
<head>
	<meta http-equiv="Cache-control" content="public, max-age=2592000">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Milkman Matty">
	<title>Resume</title>


	<link rel="icon" href="/images/favicon.png" type="image/png" />
	@*<link rel="shortcut icon" href="/favicon.ico" />*@
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<link href="/css/page.css" rel="stylesheet">
	<link href="/css/resume.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600,700&display=swap" rel="stylesheet">

	<script type="application/ld+json">
		{
		"@@context": "http://schema.org",
		"@@type": "LocalBusiness",
		"url": "http://www.milkmanmatty.com.au/",
		"hasMap":
		"https://www.google.com.au/maps/place/Brisbane+QLD/@@-27.4690143,153.0210243,15.75z/data=!4m5!3m4!1s0x6b91579aac93d233:0x402a35af3deaf40!8m2!3d-27.469773!4d153.0251205",
		"email": "matt@@milkmanmatty.com",
		"address": {},
		"description": "Milkman Matty, ready for action.",
		"name": "Milkman Matty",
		"telephone": "",
		"openingHours": "Sat-Sun 10:00-16:00",
		"geo": {
		"@@type": "GeoCoordinates",
		"latitude": "27.4690143",
		"longitude": "153.0210243"
		},
		"sameAs" : []
		}
	</script>

</head>
<body>
<div id="wrapper">
	@Html.Partial("header")

	<main id="main" tabindex="-1">
		<div class="mainFlex">
			<div class="side1">
				<section class="imageTitle">
					<div class="image">
					@if(u.GetPropertyValue<IPublishedContent>("image") != null){
						<img src="@(u.GetPropertyValue<IPublishedContent>("image").Url())" alt="" class="circle" />
					}
					</div>

					<h1>Matthew Stubbins</h1>
					<p class="position">@u.GetPropertyValue("position")</p>
				</section>

				<section class="details">
					<ul>
						<li>
							<a href="tel:@u.GetPropertyValue("phone")">
								<i class="fa fa-phone"></i><span class="sr-only">Phone:</span>
								@u.GetPropertyValue("phoneDisplay")
							</a>
						</li>
						<li>
							<a href="mailto:@u.GetPropertyValue("email")">
								<i class="fa fa-envelope"></i><span class="sr-only">Email:</span>
								@u.GetPropertyValue("email")
							</a>
						</li>
						<li>
							<a href="https://@u.GetPropertyValue("website")">
								<i class="fa fa-globe"></i><span class="sr-only">Phone:</span>
								@u.GetPropertyValue("website")
							</a>
						</li>
						<li>
							<a href="https://www.@u.GetPropertyValue("linkedIn")" target="_blank">
								<i class="fa fa-linkedin"></i><span class="sr-only">View my Linked In:</span>
								@u.GetPropertyValue("linkedIn")
							</a>
						</li>
						<li>
							<a href="https://@u.GetPropertyValue("codepen")" target="_blank">
								<i class="fa fa-codepen"></i><span class="sr-only">View my CodePen:</span>
								@u.GetPropertyValue("codepen")
							</a>
						</li>
						<li>
							<a href="https://@u.GetPropertyValue("bitBucket")" target="_blank">
								<i class="fa fa-bitbucket"></i><span class="sr-only">View my BitBucket:</span>
								@u.GetPropertyValue("bitBucket")
							</a>
						</li>
					</ul>
				</section>

				<section class="profile">
					<h1>Profile</h1>
					<p>@Html.Raw(u.GetPropertyValue("profile"))</p>
				</section>

				<section class="technical">
					<h1>Technical Skills</h1>
					<p>
					@foreach(var s in u.Children.Where(x => x.DocumentTypeAlias == "technicalSkills").First().Children()){
						<span>@s.GetPropertyValue("skill")</span>
					}
					</p>

					<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
						<symbol id="circle" viewBox="0 0 50 50">
							<circle cx="25" cy="25" r="25"/>
						</symbol>
					</svg>

					<div class="grid" style="display: none;">
					@foreach(var s in u.Children.Where(x => x.DocumentTypeAlias == "technicalSkills").First().Children()){
						<div>@s.GetPropertyValue("skill")</div>
						for(int i = 0; i < s.GetPropertyValue<int>("proficiency"); i++){
						<div><svg class="icon coloured"><use xlink:href="#circle" /></svg></div>
						}
						for(int i = 0; i < (5 - s.GetPropertyValue<int>("proficiency")); i++){
						<div><svg class="icon"><use xlink:href="#circle" /></svg></div>
						}
					}
					</div>
				</section>

				<section class="technical">
					<h1>Applications Proficiency</h1>
					<p>
					@foreach(var s in u.Children.Where(x => x.DocumentTypeAlias == "applications").First().Children()){
						<span>@s.GetPropertyValue("app")</span>
					}
					</p>
					<div class="grid" style="display: none;">
					@foreach(var s in u.Children.Where(x => x.DocumentTypeAlias == "applications").First().Children()){
						<div>@s.GetPropertyValue("app")</div>
						for(int i = 0; i < s.GetPropertyValue<int>("proficiency"); i++){
						<div><svg class="icon coloured"><use xlink:href="#circle" /></svg></div>
						}
						for(int i = 0; i < (5 - s.GetPropertyValue<int>("proficiency")); i++){
						<div><svg class="icon"><use xlink:href="#circle" /></svg></div>
						}
					}
					</div>
				</section>
			</div>
			<div class="side2">
				<section>
					<h1>Experience</h1>
					@foreach(var e in u.Children.Where(x => x.DocumentTypeAlias == "experiences").First().Children()){
					<div class="exp">
						<div class="exptitle">
							<h2>@e.GetPropertyValue("position") <br />@e.GetPropertyValue("place")</h2>
							<h3>@e.GetPropertyValue("dateRange")</h3>
						</div>
						@Html.Raw(e.GetPropertyValue("content"))
					</div>
					}
				</section>

				<section>
					<h1>Education</h1>
					<div class="edu">
						<h2><span>@u.GetPropertyValue("degree")</span> <span>@u.GetPropertyValue("educationLocation")</span></h2>
						<h3><span>@u.GetPropertyValue("degreeMajor")</span> <span>@u.GetPropertyValue("award")</span></h3>
					</div>
				</section>
			</div>
		</div>
	</main>
</div>

<script>function mediaQueriesSupported(){return (typeof window.matchMedia != "undefined" || typeof window.msMatchMedia != "undefined");}</script>
<script src="~/js/min/circle-min.js" type="text/javascript"></script>
</body>
</html>