﻿
.hamburger:after {
	content: '';
	left: -5px;
	top: -5px;
	position: absolute;
	border: 2px solid transparent;
	border-radius: 100%;
	width: calc(var(--nav-size-inside) + 5px);
	min-height: calc(var(--nav-size-inside) + 5px);
}

input[type=checkbox]:checked ~ .hamburger:after {
	animation: circle-creation 1s forwards;
}

input[type=checkbox]:checked ~ .hamburger .bar:nth-of-type(2) {
	transform: translateY(9px) rotate(45deg);
}

input[type=checkbox]:checked ~ .hamburger .bar:nth-of-type(3){
	transform: translateX(-50px);
	opacity: 0;
}

input[type=checkbox]:checked ~ .hamburger .bar:nth-of-type(4) {
	transform: translateY(-10px) rotate(-45deg);
}

@media(min-width: 992px){/*
	nav:hover .hamburger:after {
		animation: circle-creation 1s forwards;
	}
	nav:hover .bar:nth-of-type(1) {
		transform: translateY(9px) rotate(45deg);
	}
	nav:hover .bar:nth-of-type(2) {
		transform: translateX(50px);
		opacity: 0;
	}
	nav:hover .bar:nth-of-type(3) {
		transform: translateY(-10px) rotate(-45deg);
	}*/
}

@keyframes bg-grad {
	0%{background-position:94% 0%}
	50%{background-position:7% 100%}
	100%{background-position:94% 0%}
}

@keyframes circle-creation {
	0% {
		border-color: transparent;
		transform: rotate(0deg);
	}
	25% {
		border-color: transparent var(--color-link-primary) transparent transparent;
		transform: rotate(-40deg);
	}
	50% {
		border-color: transparent var(--color-link-primary) var(--color-link-primary) transparent;
	}
	75% {
		border-color: transparent var(--color-link-primary) var(--color-link-primary) var(--color-link-primary);
	}
	99% {
		border-color: var(--color-link-primary);
		transform: rotate(-300deg);
	}
	100% {
		border-color: var(--color-link-primary);
		transform: rotate(-360deg);
	}
}
@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash-fade {
	0% {
		color: var(--color-bg-accent);
		text-shadow: 0 0 5px var(--color-bg-accent-alpha);
		/* text-shadow: 0 0 5px rgba(255,255,255,1); */
	}
	100% {
		color: var(--color-link-primary);
		text-shadow: 0 0 0 var(--color-link-primary-alphazero);
		/* text-shadow: 0 0 0 var(--color-bg-accent-alphazero); */
	}
}