﻿/*! * Font Awesome 4.6.3 by @davegandy - http://fontawesome.io - @fontawesome * License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License) */
@font-face{
	font-family:FontAwesome;
	src:url(../fonts/fontawesome-webfont.eot?v=4.6.3);
	src:url(../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3) format("embedded-opentype"),url(../fonts/fontawesome-webfont.woff2?v=4.6.3) format("woff2"),url(../fonts/fontawesome-webfont.woff?v=4.6.3) format("woff"),url(../fonts/fontawesome-webfont.ttf?v=4.6.3) format("truetype"),url(../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular) format("svg");
	font-display:swap;
	font-weight:400;
	font-style:normal
}
.fa{
	display:inline-block;
	font:normal normal normal 14px/1 FontAwesome;
	font-size:inherit;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}
.fa-linkedin:before{
	content:"\f0e1"
}
.fa-bitbucket:before{
	content:"\f171"
}
.fa-codepen:before{
	content:"\f1cb"
}
.fa-phone:before{
	content:"\f095"
}
.fa-envelope:before{
	content:"\f0e0"
}
.fa-globe:before{
	content:"\f0ac"
}
