﻿footer {
	position: fixed;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 0.8rem;
	color: var(--color-link-primary);
	background-color: var(--color-bg-primary);
	border-top: 1px solid var(--color-border-primary);
	padding: 25px var(--padding-lr);
	width: 100%;
}
footer a {
	color: var(--color-link-primary);
	text-decoration: none;
	transition: color ease-in .333s;
}
footer > .links > a {
	font-size: 1rem;
	margin-right: 8px;
}
footer > .links > a:hover,
footer > .email > a:hover {
	color: var(--color-link-hover);
}

@media (min-width: 992px){
	footer {
		position: absolute;
		left: 0;
		z-index: 1;
	}
}

/* PAGE FOOTER */
.page footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 0.8rem;
	color: var(--color-link-primary);
	background-color: var(--color-bg-primary);
	border-top: 1px solid var(--color-border-primary);
	padding: 25px var(--padding-lr);
	width: 100%;
}
.page footer a {
	color: var(--color-link-primary);
	text-decoration: none;
	transition: color ease-in .333s;
}
.page footer > .links > a {
    margin-right: 8px;
}
.page footer > .links > a:hover,
.page footer > .email > a:hover {
	color: var(--color-link-hover);
}

@media (min-width: 992px){
	footer {
		position: absolute;
		bottom: 0;
		left: 0;
		font-size: 1rem;
	}
	footer > .links > a {
		font-size: 1.15rem;
		margin-right: 10px;
	}
}
@media (min-width: 1200px){
	.page footer {
		font-size: 1.1rem;
	}
	footer > .links > a {
		font-size: 1.15rem;
		margin-right: 12px;
	}
}
@media (min-width: 1520px){
	.page footer {
		font-size: 1.2rem;
	}
	footer > .links > a {
		font-size: 1.25rem;
		margin-right: 15px;
	}
}