﻿.sr-only{
	position:absolute;
	width:1px;
	height:1px;
	padding:0;
	margin:-1px;
	overflow:hidden;
	clip:rect(0,0,0,0);
	border:0
}
.sr-only-focusable:active,.sr-only-focusable:focus{
	position:static;
	width:auto;
	height:auto;
	margin:0;
	overflow:visible;
	clip:auto
}
#skip:focus {
	margin: 2px auto auto 2px;
	color: var(--color-link-primary);
}

header {
	padding: 10px var(--padding-lr);
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid var(--color-border-primary);
}
.brand {
	display: inline-flex;
	justify-content: space-between;
	
	color: var(--color-link-primary);
	text-decoration: none;
}
header, .brand {
	align-items: center;
	z-index: 1;
}
.brand > span > .f {
	animation: flash-fade 1s normal;
}
.brand > canvas {
	margin-right: 8px;
}
nav {
	min-width: var(--nav-size);
	min-height: var(--nav-size);
	position: relative;
}
#drop {
	display:none;
}
.hamburger {
	background: transparent;
	position: absolute;
	display: block;
	width: var(--nav-size-inside);
	min-height: var(--nav-size-inside);
	top: calc((var(--nav-size) - var(--nav-size-inside)) / 2);
	left: calc((var(--nav-size) - var(--nav-size-inside)) / 2);
	cursor: pointer;
}
input[type="checkbox"]:checked ~ .hamburger:focus,
input[type="checkbox"]:checked ~ .hamburger.nooutline:focus::after {
	outline: none;
}
input[type="checkbox"]:checked ~ .hamburger:focus::after {
	outline: 2px solid var(--color-highlight);
}
.bar {
	height: 2px;
	width: 100%;
	display: block;
	position: absolute;
	background-color: var(--color-link-primary);
	border-radius: 5px;
	transition: .4s;
}
.bar:nth-child(2) {
	top: calc(1.25rem - 10px)
}
.bar:nth-child(3) {
	top: 1.25rem;
	transition: transform 0.6s,
				opacity 0.3s;
}
.bar:nth-child(4) {
	top: calc(1.25rem + 10px)
}
.menu {
	position: absolute;
	width: 100vw;
	top: -100%;
	min-height: 5vh;
	right: calc(-1 * var(--padding-lr));
	background-color: var(--color-bg-primary);
	z-index: -1;
	opacity: 0;
	transition: all .33s,
				visibility 1s .1s;
	border-bottom: 1px solid var(--color-border-primary);
	visibility: hidden;
}
input[type=checkbox]:checked ~ .menu {
	top: calc(100% + 11px);
	z-index: 1;
	opacity: 1;
	visibility: visible;
}
.menu ul {
	list-style: none;
	margin: 1rem 0 1.25rem;
}
.menu ul li + li {
	margin-top: 1rem;
}
.menu ul li a {
	color: var(--color-link-primary);
}
.menu ul li a:hover {
	color: var(--color-link-hover);
}
@media (min-width: 992px){
	header {
		flex-direction: column-reverse;
		min-width: 5em;
		max-width: 5em;
		min-height: calc(100vh - var(--space-tb));
		padding: var(--space-tb) var(--padding-lr);
		border: none;
		border-right: 1px solid var(--color-border-primary);
		z-index: auto;
		background-color: var(--color-bg-primary);
	}
	.brand {
		flex-direction: row-reverse;
		flex-wrap: wrap;
		max-width: 100%;
		position: relative;
	}
	.brand > canvas {
		margin-right: 0;
	}
	.brand > span {
		display: inline-block;
		position: absolute;
		top: -5em;
		left: 50%;
		transform: translateX(-50%) rotate(-90deg);
		line-height: 0.75rem;
	}
	.brand > span > span {
		/* all caps when you spell tha man name */
		text-transform: uppercase;
	}
	.menu {
		width: 20vw;
		max-width: 300px;
		height: calc(100vh - 50px - (0.8rem * 1.4));
		left: -175%;
		top: calc(-1* var(--space-tb));
		right: unset;
		border-right: 1px solid var(--color-border-primary);
		z-index: -20;
	}
	input[type=checkbox]:checked ~ .menu {
		left: calc(100% - 10px + var(--padding-lr));
		top: calc(-1* var(--space-tb));
		z-index: 1;
	}
}