﻿:root {
	--color-bg-primary: rgb(5,5,5);
	--color-bg-secondary: rgb(15,15,15);
	--color-bg-accent: rgb(79,111,255);
	--color-bg-accent-alpha: rgba(79,111,255,1);
	--color-bg-accent-alphazero: rgba(79,111,255,0);
	--color-bg-highlight: rgb(255,245,235);

	--color-border-primary: rgb(25,25,25);
	--color-border-menu: rgb(125,125,155);

	--color-link-primary: rgb(195,205,255);
	--color-link-primary-alphazero: rgba(195,205,255,0);
	//--color-link-hover: rgba(8,188,233,.5);
	--color-link-hover: var(--color-bg-accent);
	--color-link-visit: rgb(214,160,255);
	--color-text-primary: rgb(235,235,255);
	--color-text-inverted: rgb(5,5,5);

	--color-text-blog: rgb(160,160,185);
	--color-text-blog: rgb(140,142,155);
	--color-text-blog-heading: rgb(200,205,235);
	--color-figcap: rgb(205,190,180);

	--color-highlight: rgb(20, 174, 167);

	/* layout */
	--padding-lr: 15px;
	--space-tb: 1.75rem;

	/* Nav Positioning */
	--nav-size: 3.5em;
	--nav-size-inside: 2.5em;

	/* anim delays */
	--bg-delay: 0.25s;
	--bg-text-delay: 0.75s;
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
*:focus {
	outline: 1px solid var(--color-highlight);
}