﻿@import "vars";
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
html.page, html.page body {
	font-size: 18px;
}
body {
	padding: 0;
	margin: 0;
	background-color: var(--color-bg-primary);
	color: var(--color-text-primary);
}
strong {
	font-weight: 800;
	color: lighten(#8e8e9b, 5%);
}

.feature_image {
	position: relative;
	padding-top: 46.25%;
}
section .meta-data {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,.65);
	display: flex;
	justify-content: center;
	align-items: center;
}
.meta-data h1 {
	text-align: center;
	text-shadow: 4px 0 0 black, 
				-4px 0 0 black, 
				0 4px 0 black, 
				0 -4px 0 black, 
				1px 1px black, 
				-1px -1px 0 black, 
				1px -1px 0 black, 
				-1px 1px 0 black,
				0 0 15px black;
}

main {
	padding: 0;
}
article {
	//background-color: var(--color-bg-secondary);
	border: black 1px solid;
	max-width: 70ch;
	margin: auto auto 75px auto;
	padding: var(--padding-lr);
	color: var(--color-text-blog);
}
article h1, article h1 a, article h1 a:visited {
	color: var(--color-text-blog-heading);
}
article h2 {
	margin: 3em auto 1em;
}
article a {
	color: var(--color-link-primary);
}
article a:hover {
	color: var(--color-link-hover);
}
article a:visited {
	color: var(--color-link-visit);
}
pre {
	overflow-x: scroll;
}
code {
	font-family: monospace;
	font-size: 0.9em;
	padding: 0 4px;
	border-radius: 4px;
	background-color: rgb(34,30,30);
}
pre code {
	background-color: unset;
	border-radius: 0;
	font-size: 0.9em;
}
figure {
	margin-left: 0;
	margin-right: 0;
}
figcaption {
	width: 80%;
	margin: 10px auto;
	font-style: italic;
	color: var(--color-figcap);
}

.disqus {
	padding-top: 2em;
	max-width: 100ch;
	margin: 0 auto;
}
.disqus iframe:focus {
	outline: none;
}

@media (min-width: 992px){
	:root {
		--padding-lr: 30px;
		--space-tb: 1.65rem;
		--bg-delay: 1.75s;
		--bg-text-delay: 3.75s;
	}
	main {
		padding: var(--space-tb) var(--padding-lr) 3rem;
	}
	article {
		margin: auto;
	}
	.feature_image {
		margin: calc(-1* var(--space-tb)) calc(-1* var(--padding-lr)) 0;
		background-position: left center;
	}
}
@media (min-width: 1200px){
	.meta-data h1 {
		font-size: 3rem;
	}
	.meta-data h1:after {
		content: "";
		text-shadow: 4px 4px 8px #000;
	}
}

@import "_fa_used";