﻿@import "vars";
@import "anim";

html {
	font-size: 16px;
	font-family: 'Source Code Pro', monospace;
}
html, body {
	margin: 0;
	padding: 0;
}
body {
	background-color: var(--color-bg-primary);
	color: var(--color-text-primary);
}
img {
	max-width: 100%;
	display: inline-block;
}


#wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
@import "_header.scss";

main {
	padding: var(--space-tb) 0;
	position: relative;
}
#bg > * {
	position: absolute;
	top:0;
	right:0;
	bottom: 0;
	left:0;
}
#bg > canvas {
	display: none;
	z-index: -2;
}
#bg > .grad {
	background: linear-gradient(309deg, #79a8bd, #4b69eb, #0f0f11, #4b69eb, #0f0f11, #79a8bd);
	background-size: 1200% 1200%;
	animation: bg-grad 30s ease infinite;
	height: calc(100vh - 77px);
	z-index: -2;
}
#bg > .opac {
	background-color: rgba(0,0,0,0.4);
	height: calc(100vh - 77px);
	z-index: -1;
	opacity: 0;
	animation: 2s linear var(--bg-delay) fade-in;
	animation-fill-mode:forwards;
}
section.top_content {
	padding: 0 var(--padding-lr);
	opacity: 0;
	animation: 2s linear var(--bg-text-delay) fade-in;
	animation-fill-mode:forwards;
}
.highlighted span {
	display: inline-block;
	padding: 5px;
	background-color: var(--color-bg-highlight);
	font-weight: 600;
	font-size: 0.66rem;
	color: var(--color-text-inverted);
}
section.top_content h1 {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 2rem;
	line-height: 1.5rem;
	margin: var(--space-tb) 0;
}
section.top_content hr.divider {
	width: 20%;
	margin: var(--space-tb) 0;
	border-color: var(--color-bg-accent);
	border-bottom-width: 3px;
}
.mutating_text > p {
	font-size: 16px;
	margin: -0.25rem 0 0;
}

@media (min-width: 480px){
	html {
		font-size: 19px;
	}
}
@media (min-width: 567px){
	html {
		font-size: 22px;
	}
	.mutating_text > p {
		font-size: 0.9rem;
	}
}
@media (min-width: 992px){
	:root {
		--padding-lr: 30px;
		--space-tb: 1.65rem;
		--bg-delay: 1.75s;
		--bg-text-delay: 3.75s;
	}
	html {
		font-size: 26px;
	}
	#wrapper {
		flex-direction: row;
		justify-content: space-between;
	}

	main {
		width: calc(100% - 5em);
		height: 100vh;
		padding: var(--space-tb) var(--padding-lr) 0;
	}
	#bg > canvas {
		display: block;
	}
	#bg > .grad {
		display: none;
	}
	#bg > .opac {
		background-color: rgba(0,0,0,0.825);
		height: calc(100vh - var(--space-tb))
	}
}
@import "_footer.scss";
@import "_fa_used";