﻿@import "vars";
@import "anim";
html.page, html.page body {
	font-size: 16px;
	font-family: Lato,sans-serif;
	line-height: 1.4;
	background-color: var(--color-bg-primary);
	color: var(--color-text-primary);
	margin: 0;
}
*:focus {
	outline: 2px solid var(--color-highlight);
}
img {
	display: inline-block;
	max-width:100%;
}
@import "_header.scss";
header { z-index: 1; }
.page .menu ul {
	padding-left: 1.5em;
}
.bar:nth-child(2) {
	top: calc(1.25em - 10px);
}
.bar:nth-child(3) {
	top: 1.25em;
}
.bar:nth-child(4) {
	top: calc(1.25em + 10px);
}
main {
	min-height: 100vh;
	padding: var(--space-tb) var(--padding-lr) 3rem;
	height: auto;
	position: relative;
}
header .brand {
	font-family: 'Source Code Pro', monospace;
}

@import "_footer.scss";

@media (min-width: 992px){
	.page, .page body {
		font-size: 16px;
	}
	.page header, .menu ul li a {
		font-size: 26px;
	}
	.page header {
		position: fixed;
		height: 100vh;
	}
	.page .menu {
		height: 100vh;
		max-height: 100vh;
		transition: all .4s ease-in-out,
					opacity .15s;
	}
	input[type=checkbox]:checked ~ .menu {
		transition: all .43s ease-in-out,
					opacity .3s .275s;
	}
	.page main {
		margin-left: 130px;
		padding-bottom: 4.5em;
	}
}
@media (min-width: 1200px){
	.page, .page body {
		font-size: 17px;
	}
}
@media (min-width: 1710px){
	.page, .page body {
		font-size: 18px;
	}
}
@import "_fa_used.scss";