﻿:root {
	--res_text_c: #888;
	--res_text_light_c: #cfcfcf;
	--res_highlight: var(--color-highlight); //rgb(29, 208, 182); //rgb(41,242,194);

	--space-tb: 1.65em;
}
.nomarg {
	margin: 0;
}
.dark {
	color: var(--res_text_c);
}

#wrapper {
	z-index: -1;
}
.resume header { z-index: 1 }
.resume header, .menu ul li a {
	font-family: Source Code Pro,monospace;
}



p {
	margin: 0 0 1rem;
	color: var(--res_text_c);
}
ul {
	list-style: none;
	padding-left: 0;
	margin: 0 0 1rem;
}
h1 {
	margin: 1.75rem 0 1rem;
	color: white;
}
h1:after {
	content: "";
	padding-bottom: 0.5rem;
	border-bottom: 4px solid var(--res_highlight);
	margin-bottom: 0.5rem;
	display: block;
	width: 50px;
}
h2, h3 {
	color: var(--res_text_light_c);
}

.resume main {
	
}
.mainFlex {
	display: flex;
	flex-direction: column;
	max-width: 1520px;
}
section.imageTitle .image {
	border: 4px solid var(--res_highlight);
	padding: 1.5rem;
	max-width: 310px;
}
section.imageTitle h1 {
	margin-bottom: 0;
	font-size: 2.2rem;
}
section.imageTitle h1:after {
	display:none;
}
.position {
	margin-bottom: 1.5rem;
	font-size: 1.4rem;
}
ul li a {
	text-decoration: none;
	color: var(--res_text_c);
}
ul li a:hover {
	color: var(--res_text_light_c);
}
ul li a i {
	display: inline-block;
	width: 0.8rem;
	margin-right: 0.8rem;
	color: var(--res_text_light_c);
}

.grid {
	display: grid;
	max-width: 100%;
	grid-template-columns: 40% 12% 12% 12% 12% 12%;
	grid-template-rows: 10%;
}
.grid svg {
	width: 50px;
	height: 50px;
}
.grid div {
	align-self: center;
}
.icon {
	fill: var(--res_text_c);
	max-width: 25px;
	max-height: 28px;
}
.icon.coloured{
	fill: var(--res_highlight);
}

.exptitle {
	display: flex;
	justify-content: space-between;
}
.exptitle h2, .exptitle h3 {
	margin: 1rem 0 0.5rem;
	font-size: .9rem;
}
.exptitle h2 { flex-basis: 95%; }
.exptitle h3 { flex-basis: 50%; text-align: right; }
.exp ul {
	margin: 0;
}
.exp ul li {
	padding-left: 1rem;
	text-indent: -1rem;
	color: var(--res_text_c);
}
.exp ul li:before {
	content: "•";
	padding-right: 7px;
	color: var(--res_text_light_c);
}

.edu h2, .edu h3 {
	display: flex;
	justify-content: space-between;
	margin: 0;
}
.edu h2 {
	font-size: 1.15rem;
}
.edu h3 {
	font-weight: 400;
	color: var(--res_text_c);
	margin-top: 0.25rem;
	font-size: 1.05rem;
}

@media (min-width: 576px){
	html.resume, html.resume body {
		font-size: 20px;
	}
	.exptitle h2, .exptitle h3 {
		font-size: 1rem;
	}
	.icon {
		max-width: 35px;
		max-height: 38px;
	}
	.grid {
		max-width: 600px;
	}
}
@media (min-width: 992px){
	input[type="checkbox"]:checked ~ .menu {
		left: calc(100% - -5px + var(--padding-lr));
	}
	.mainFlex {
		flex-direction: row;
		justify-content: space-between;
	}
	.side1 {
		flex-basis: 33%;
		padding-right: 1.5rem;
		margin-right: 1.5rem;
		border-right: 2px solid var(--res_text_c);
	}
	section.imageTitle h1 {
		font-size: 1.77rem;
	}
	p {
		margin-bottom: 1.15rem;
	}
	ul li {
		margin-bottom: 0.25rem;
	}
	ul li a {
		font-size: 0.85rem;
	}
	ul li a i.fa {
		font-size: 1rem;
	}
	.grid {
		max-width: initial;
	}
	.icon {
		max-width: 25px;
		max-height: 28px;
	}
	.side2 {
		flex-basis: 66%;
	}
	.side2 > section:first-child > h1 {
		margin-top: 0;
	}
	.exp {
		margin-top: 1rem;
	}
	.exp + * {
		margin-top: 1.25rem;
		border-top: 2px solid var(--res_highlight);
		padding-top: 1rem;
	}
	.exptitle h2 br {
		display: none;
	}
	.exptitle h2, .exptitle h3 {
		margin: 0;
		font-size: 1.05rem;
		flex-basis: initial;
	}
	.exptitle {
		margin: 0 0 0.5rem;
	}
	.exp ul li {
		font-size: 0.85rem;
		margin-bottom: 0.4rem;
	}
	.edu h2 {
		font-size: 1rem;
	}
	.edu h3 {
		font-size: 0.8rem;
	}
}
@media (min-width: 1200px){
	.resume main {
		padding: var(--space-tb) calc(2* var(--padding-lr)) 3rem;
	}
	section.imageTitle h1 {
		font-size: 2.1rem;
	}
	ul li {
		margin-bottom: .55rem;
	}
	ul li a {
		font-size: 1rem;
	}
	ul li a i.fa {
		font-size: 1.05rem;
	}
	.exp {
		margin-top: 1rem;
	}
	.exp + * {
		margin-top: 1.5rem;
		padding-top: 1.25rem;
	}
	.exp ul li {
		font-size: .95rem;
		margin-bottom: 0rem;
		text-indent: -1.25rem;
	}
	.exp ul li::before {
		content: "•";
		padding-right: 9px;
		font-size: 1.15rem;
	}
}
@media (min-width: 1520px){
	h1 {
		font-size: 2rem;
	}
	section.imageTitle h1 {
		font-size: 2.6rem;
	}
	p.position {
		font-size: 1.5rem;
		margin-bottom: 2rem;
	}
	.grid {
		grid-row-gap: .5rem;
	}
	.exptitle h2, .exptitle h3 {
		font-size: 1.15rem;
	}
	.edu h2 {
		font-size: 1.3rem;
		margin-bottom: .5rem;
	}
	.edu h3 {
		font-size: 1rem;
	}
}
@media (min-width: 1710px){
	html.resume, html.resume body {
		font-size: 18px;
	}
	section.imageTitle h1 {
		font-size: 2.6rem;
	}
	p.position {
		font-size: 1.8rem;
		margin-bottom: 2rem;
	}
	h1 {
		font-size: 2rem;
		margin: 2.15rem 0 1rem;
	}
	
	ul li {
		margin-bottom: .5rem;
	}
	ul li a {
		font-size: 1.1rem;
	}
	ul li a i.fa {
		font-size: 1.25rem;
	}
	ul li a i {
		display: inline-block;
		width: 1.2rem;
		margin-right: 1.2rem;
	}
	.grid {
		grid-row-gap: 1rem;
		font-size: 1.05rem;
	}
	.icon {
		max-width: 30px;
		max-height: 30px;
	}

	.exptitle {
		margin-bottom: 0.85rem;
	}
	.exp ul li::before {
		font-size: 1.25rem;
	}
	.exptitle h2, .exptitle h3 {
		font-size: 1.15rem;
	}
	.exp ul li {
		font-size: 1rem;
	}
}